$backgroundHeader: url(../img/m-h-night.jpg);
$familyStyle: 'Fresca', sans-serif;
$colorLine: #ff4e33;

$colors: (
    backgroundBody: #21232e,
    colorLogo: #ffffff,
    buttonColor: #e3ac00,
    backgroundFoto: #3b3f50
);

