$backgroundHeader: url(../img/m-h-day.jpg);
$familyStyle: 'Hind', sans-serif;
$colorLine: #14a0c7;

$colors: (
    backgroundBody: #ffffff,
    colorLogo: #000000,
    buttonColor: #699900,
    backgroundFoto: #21232e
);